.education-page-wrapper {

    /*PARA QUE CUBRA DESDE ARRIBA Y ABAJO DE UNA PAGINA!! IMPORTANTISIMO :D*/
    /* position: absolute;
    top:0px;
    bottom: 0px;
    margin-left: 300px; */

    background-color: transparent;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    margin-left: 700px;
    text-decoration: none;

    /*para tambien evitar overflow*/
    /* margin-bottom: 0.5px;
    margin-top: 0.5px;
    margin-right: 0.5px; */
}

.bg-edu {
    /* background-image: url("../assets/design/333.gif"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.page-title {
    font-family: "Helvetica";
    font-weight: 100;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 0px;
    overflow: hidden;
}

/******************/
/*ROW AND COLUMNS*/
/******************/

.row-edu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 720px;
    height: 320px;

    bottom:0px;

}



/******************/
/* LEFT COLUMN    */
/******************/


.content1-edu {
    background-color: transparent;
    text-align: right;
    padding-top: 40px;
    padding-right: 40px;
    position: absolute;
    right:0px;
    bottom:400px;





}

.content2-edu {
    text-align: right;
    justify-content: right;
    align-content: right;
    position: absolute;
    right:0px;
    bottom:190px;
    padding-right: 40px;
/* 
    position: absolute;
    right: 0px;
    margin-top: 10px;
    bottom:200px;
    padding: 40px; */







}

.content3-edu {
    text-align: right;
    position: absolute;
    right: 0px;
    bottom:0px;
    padding-right: 40px;
    padding-bottom: 40px;
   /* bottom:0px;
    padding: 40px; */




}



.content1-edu-title {
    text-align: right;
    font-size: "40px";
    font-family: "neue_haas_grotesk_display35Th";
    color: "white";

}

.content2-edu-title {
    text-align: right;
    font-size: 30px;
    font-family: 'neue_haas_grotesk_display35Th';
    color: white;

}

.content3-edu-title {
    text-align: right;
    font-size: 30px;
    font-family: "neue_haas_grotesk_display35Th";
    color: white;

}