.projects-page-wrapper {
    box-sizing: content-box;
    background-color: transparent;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.734);
    text-decoration: none;

    /* border:30px solid pink;
    box-shadow: inset 0 0 0 0.5px white; */
    

    /*PARA QUE CUBRA DESDE ARRIBA Y ABAJO DE UNA PAGINA!! IMPORTANTISIMO :D*/
    /* position: absolute;
    top:0px;
    bottom: 0px;
    margin-left: 300px; */

    position: absolute;
    margin-top: 0.5px;
    margin-bottom: 0.5px;

    top: -1.5px;
    bottom: -1.5px;
    right: 0px;
    left: 0px;
    margin-left: 270px;

    /*para tambien evitar overflow*/

    margin-right: 0.5px;


}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(128, 128, 128, 0.299);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  


.row--proj {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    height: 420px;
    overflow: hidden;


    width: 100%;

}

.column--proj {
    display: flex;
    flex-direction: column;

    flex-basis: 100%;
    flex: 1;
    text-align: left;
    overflow: hidden;


}

.proj1 {
    background-color: transparent;
    height: 420px;
    display: block;
    text-align: right;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    overflow: hidden;


}

.proj1-title {
    font-family: 'neue_haas_grotesk_disp26xTh';
    font-size: 35px;
    letter-spacing: 0.8px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 20px;



}

.proj1-description {
    background-color: transparent;

    font-family: 'neue_haas_grotesk_display65Md';
    line-height: 23px;
    overflow: hidden;

    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    background-color: transparent;
    overflow: hidden;



}


.tools-container {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    /* color: #1004fa; */
    background-color: transparent;

    display: inline-flex;
    position: relative;
    bottom: -40px;
    margin-left: 20px;

}

.tools-content {
    position: absolute;
    background-color: transparent;
    text-align: right;
    right: 0px;
    line-height: 30px;

}

.tools-container2 {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    background-color: transparent;

    display: inline-flex;
    position: relative;
    bottom: -10px;
    margin-left: 20px;


}

.tools-content2 {
    position: absolute;
    background-color: transparent;
    text-align: right;
    right: 0px;
    line-height: 30px;


}

.tools-container3 {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    background-color: transparent;

    display: inline-flex;
    position: relative;
    bottom: -75px;
    margin-left: 20px;


}

.tools-content3 {
    position: absolute;
    background-color: transparent;
    text-align: right;
    right: 0px;
    line-height: 30px;


}

.tools-container4 {
    font-family: Helvetica, sans-serif;
    font-weight: 800;
    background-color: transparent;

    display: inline-flex;
    position: relative;
    bottom: -70px;
    margin-left: 20px;


}

.tools-content4 {
    position: absolute;
    background-color: transparent;
    text-align: right;
    right: 0px;
    line-height: 30px;


}


.imagen-project {
    width: 500px;

    position: absolute;
    /* margin-top: 30px; */
    right: 0px;
    /* margin-right: 20px;*/
    margin-top: 40px;
    margin-right: 30px;

    overflow: hidden;
    cursor: pointer;




}

.tdimension {
    width: 100%;
    height: 100%;
    margin: 1px auto 1px auto;
    perspective: 1000px;
}

.tdimension .imagen {
    display: block;
    width: 100%;
    height: 100%;
    /* background: url("../assets/content/proj4-img.gif"); */
    background-size: cover;
    transform-style: preserve-3d;
    transform: rotateX(70deg);
    transition: all 0.8s;
}

/* .tdimension:hover .imagen {
	transform: rotateX(20deg); 	
}	 */

.row--proj:hover .imagen {
    transform: rotateX(20deg);

}

.row--proj:hover .tools-container,
.row--proj:hover .tools-container2, 
.row--proj:hover .tools-container3,
.row--proj:hover .tools-container4{
    color: #1004fa;

}

.row--proj:hover .proj1-title 
{
    font-family: 'neue_haas_grotesk_display65Md';

    color: #1004fa;

}


.tdimension .imagen:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    transform: rotateX(90deg);
    transform-origin: bottom;
}

/*****************/
/*BOTON ALEXA*/
/*****************/
.click-audio-text {
    margin-top: 20px;
    font-size: 15px;
    margin-left: 20px;
    font-family: 'neue_haas_grotesk_display35Th';
}

.btn {
    cursor: pointer;
    background-repeat: no-repeat;
    /* opacity: 0.85; */
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-left: 20px;
}

.pause-btn {
    filter: invert(100%);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 576 512' focusable='false' version='1.1' viewBox='0 0 576 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;%7D%0A%3C/style%3E%3Cpath d='m215 71-89 89h-102c-13.3 0-24 10.7-24 24v144c0 13.3 10.7 24 24 24h102.1l89 89c15 15 41 4.5 41-17v-336c-0.1-21.4-26.1-32-41.1-17zm246.6 185 45.6-45.6c6.3-6.3 6.3-16.5 0-22.8l-22.8-22.8c-6.3-6.3-16.5-6.3-22.8 0l-45.6 45.6-45.6-45.6c-6.3-6.3-16.5-6.3-22.8 0l-22.8 22.8c-6.3 6.3-6.3 16.5 0 22.8l45.6 45.6-45.6 45.6c-6.3 6.3-6.3 16.5 0 22.8l22.8 22.8c6.3 6.3 16.5 6.3 22.8 0l45.6-45.6 45.6 45.6c6.3 6.3 16.5 6.3 22.8 0l22.8-22.8c6.3-6.3 6.3-16.5 0-22.8l-45.6-45.6z'/%3E%3Cpath class='st0' d='m215 71-89 88.9h-102c-13.3 0-24 10.7-24 24v144c0 13.3 10.7 24 24 24h102.1l89 89c15 15 41 4.5 41-17v-335.9c-0.1-21.4-26.1-32-41.1-17zm233.4-51c-11.2-7.3-26.2-4.2-33.5 7s-4.2 26.2 7 33.5c66.2 43.4 105.7 116.5 105.7 195.5s-39.5 152.1-105.8 195.6c-11.2 7.3-14.3 22.3-7 33.5 7 10.7 21.9 14.6 33.5 7 80-52.5 127.7-140.8 127.7-236.1s-47.7-183.6-127.6-236zm31.6 236c0-63.5-32.1-121.9-85.8-156.2-11.2-7.1-26-3.8-33.1 7.5s-3.8 26.2 7.4 33.4c39.8 25.3 63.5 68.4 63.5 115.3s-23.7 90-63.5 115.4c-11.2 7.1-14.5 22.1-7.4 33.4 6.5 10.4 21.1 15.1 33.1 7.5 53.7-34.4 85.8-92.8 85.8-156.3zm-141.8-76.9c-11.6-6.3-26.2-2.2-32.6 9.4s-2.2 26.2 9.5 32.6c12.9 7.2 20.9 20.5 20.9 34.9s-8 27.7-20.9 34.8c-11.6 6.4-15.8 21-9.5 32.6 6.4 11.7 21 15.8 32.6 9.5 28.2-15.5 45.8-45 45.8-76.9s-17.5-61.3-45.8-76.9z'/%3E%3C/svg%3E%0A");
}

.play-btn {
    filter: invert(100%);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg enable-background='new 0 0 576 512' focusable='false' version='1.1' viewBox='0 0 576 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;%7D%0A%3C/style%3E%3Cpath class='st0' d='m215 71-89 89h-102c-13.3 0-24 10.7-24 24v144c0 13.3 10.7 24 24 24h102.1l89 89c15 15 41 4.5 41-17v-336c-0.1-21.4-26.1-32-41.1-17zm246.6 185 45.6-45.6c6.3-6.3 6.3-16.5 0-22.8l-22.8-22.8c-6.3-6.3-16.5-6.3-22.8 0l-45.6 45.6-45.6-45.6c-6.3-6.3-16.5-6.3-22.8 0l-22.8 22.8c-6.3 6.3-6.3 16.5 0 22.8l45.6 45.6-45.6 45.6c-6.3 6.3-6.3 16.5 0 22.8l22.8 22.8c6.3 6.3 16.5 6.3 22.8 0l45.6-45.6 45.6 45.6c6.3 6.3 16.5 6.3 22.8 0l22.8-22.8c6.3-6.3 6.3-16.5 0-22.8l-45.6-45.6z'/%3E%3Cpath d='m215 71-89 88.9h-102c-13.3 0-24 10.7-24 24v144c0 13.3 10.7 24 24 24h102.1l89 89c15 15 41 4.5 41-17v-335.9c-0.1-21.4-26.1-32-41.1-17zm233.4-51c-11.2-7.3-26.2-4.2-33.5 7s-4.2 26.2 7 33.5c66.2 43.4 105.7 116.5 105.7 195.5s-39.5 152.1-105.8 195.6c-11.2 7.3-14.3 22.3-7 33.5 7 10.7 21.9 14.6 33.5 7 80-52.5 127.7-140.8 127.7-236.1s-47.7-183.6-127.6-236zm31.6 236c0-63.5-32.1-121.9-85.8-156.2-11.2-7.1-26-3.8-33.1 7.5s-3.8 26.2 7.4 33.4c39.8 25.3 63.5 68.4 63.5 115.3s-23.7 90-63.5 115.4c-11.2 7.1-14.5 22.1-7.4 33.4 6.5 10.4 21.1 15.1 33.1 7.5 53.7-34.4 85.8-92.8 85.8-156.3zm-141.8-76.9c-11.6-6.3-26.2-2.2-32.6 9.4s-2.2 26.2 9.5 32.6c12.9 7.2 20.9 20.5 20.9 34.9s-8 27.7-20.9 34.8c-11.6 6.4-15.8 21-9.5 32.6 6.4 11.7 21 15.8 32.6 9.5 28.2-15.5 45.8-45 45.8-76.9s-17.5-61.3-45.8-76.9z'/%3E%3C/svg%3E%0A");
}

/* @media screen and (max-width: 2000px) {
    .projects-page-wrapper {
        transform: scale(0.8, 0.8);

    }
}  */