* {
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  letter-spacing: .02em;


  /*remove underlines from links*/

}

.nav {
  /*styling*/
  background-color: transparent;
  font-size: 18px;
  font-family: 'neue_haas_grotesk_display65Md';
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  text-align: left;

}

.nav--item {
  margin-top: 20px;
  color: white;
  font-weight: normal;
  transition-timing-function: ease-in;
  transition: 0.8s;
}

.nav--item:hover {
  transition: 0.5s;
  transition-timing-function: ease-out;
  filter: invert(95%);
}

.home--title {

  background-color: transparent;
  height: 100px;
  width: 500px;
  /* padding-top: 10px; */

  position: absolute;
  left: 40px;
  top: 50px;

  line-height: 50px;
  color: white;
  font-family: 'neue_haas_grotesk_displ15xxTh';
  font-weight: normal;
  font-size: 80px;

}

.home--skills {
  position: absolute;
  font-family: 'neue_haas_grotesk_disp26xTh';
  top: 110px;
  left: 43px;
  font-size: 20px;


}

.home--about {
  padding: 2px;
  height: 320px;
  width: 230px;
  background-color: transparent;
  line-height: 25px;
  font-family: 'neue_haas_grotesk_display65Md';

  position: absolute;
  bottom: 0px;
  right: 30px;
  margin-bottom: 40px;

}

/*******************/
/* SOCIALS SECTION */
/*******************/

.home--socials {
  background-color: transparent;
  width: 115px;

  text-align: left;
  font-size: 15px;
  font-family: Helvetica, sans-serif;

  position: absolute;
  display: flex;
  flex-direction: column;
  top: 150px;
  left: 40px;

}

.social--link {
  transition-timing-function: ease-in;
  transition: 0.8s;
  font-family: "Helvetica";
  font-weight: 600;
  color: white;
  /*espacio entre links*/
  margin-bottom: 15px;
}

.social--link:hover {
  transition: 0.5s;
  transition-timing-function: ease-out;
  filter: invert(95%);
}


.circulito-rodante {
  height: 200px;
  width: 200px;

  position: absolute;
  bottom: 20px;
  left: 10px;

  background-color: transparent;
}


/*tengo una funcion que remueve backgrounds y para eso
es esto, esta en Projects.jsx*/
.bg-proj {
  background-color: black;
  color: white;
  background-image: none;
  text-decoration: none;
  /*remove underlines from links*/
}

.home--container {
  overflow: hidden;

}

.home-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.home-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  overflow: hidden;

}

body {
  /* background-color: rgb(0, 0, 0);

  color: white;
  font-family: Helvetica, sans-serif;
  letter-spacing: .02em;


  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border: 40px solid #000000c6;

  overflow: hidden;
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; */
  /*BACKGROUND*/
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  /*importante*/
  color: white;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border: 40px solid #00000051;
  box-shadow: inset 0 0 0 0.5px white;

  position: fixed;
  overflow: clip;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;

  font-family: Helvetica, sans-serif;

}




/*X THIN*/
@font-face {
  font-family: 'neue_haas_grotesk_disp26xTh';
  src: url('../assets/fonts/neuehaasdisplayxthin-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayxthin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*X THIN italic*/
@font-face {
  font-family: 'neue_haas_grotesk_disp26xThIt';
  src: url('../assets/fonts/neuehaasdisplayxthinitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayxthinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*XX THIN */

@font-face {
  font-family: 'neue_haas_grotesk_displ15xxTh';
  src: url('../assets/fonts/neuehaasdisplayxxthin-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayxxthin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*XX THIN ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_dis16xxThIt';
  src: url('../assets/fonts/neuehaasdisplayxxthinitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayxxthinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*BLACK*/
@font-face {
  font-family: 'neue_haas_grotesk_displa95Blk';
  src: url('../assets/fonts/neuehaasdisplayblack-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*BLACK ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_disp96BlkIt';
  src: url('n../assets/fonts/euehaasdisplayblackitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayblackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*BOLD*/
@font-face {
  font-family: 'neue_haas_grotesk_display75Bd';
  src: url('../assets/fonts/neuehaasdisplaybold-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaybold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*BOLD ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_displ76BdIt';
  src: url('../assets/fonts/neuehaasdisplaybolditalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaybolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*LIGHT*/
@font-face {
  font-family: 'neue_haas_grotesk_display45Lt';
  src: url('../assets/fonts/neuehaasdisplaylight-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaylight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*LIGHT ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_displ46LtIt';
  src: url('../assets/fonts/neuehaasdisplaylightitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaylightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*MEDIUM*/
@font-face {
  font-family: 'neue_haas_grotesk_display65Md';
  src: url('../assets/fonts/neuehaasdisplaymediu-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaymediu-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/*MEDIUM ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_displ66MdIt';
  src: url('../assets/fonts/neuehaasdisplaymediumitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaymediumitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*ROMAN*/
@font-face {
  font-family: 'neue_haas_grotesk_disp55roman';
  src: url('../assets/fonts/neuehaasdisplayroman-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayroman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*ROMAN ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_di56romanIt';
  src: url('../assets/fonts/neuehaasdisplayromanitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplayromanitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*THIN*/
@font-face {
  font-family: 'neue_haas_grotesk_display35Th';
  src: url('../assets/fonts/neuehaasdisplaythin-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaythin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*THIN ITALIC*/
@font-face {
  font-family: 'neue_haas_grotesk_displ36ThIt';
  src: url('../assets/fonts/neuehaasdisplaythinitalic-webfont.woff2') format('woff2'),
    url('../assets/fonts/neuehaasdisplaythinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .home--title {
    font-size: 60px;
  }

}

@media screen and (max-width: 600px) {
  .circulito-rodante {
    transform: scale(0.8, 0.8);
    left: -20px;

  }
}