/*Work*/
.work-page-wrapper {
    margin-left: 100px;
    margin-top: 4px;
    font-family: 'Sen';
    background-image: url("../assets/design/aura.jpg");
    background-size: 900px;
    background-repeat: no-repeat;
}

.medium-link {
    transition-timing-function: ease-in;
    transition: 0.8s;

}

.medium-link:hover {
    transition: 0.5s;
    transition-timing-function: ease-out;
    filter: invert(95%);

}

.ku-link {
    color: #fff;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

}

.ku-link:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

}


.row-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-image: url("../assets/design/aura.jpg");
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 1em;
}

.work-box {
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
    border-right: 0.2px solid white;
    border-bottom: 30px solid white;
    position: relative;
    width: 80%;
    margin-bottom: 30px;
    margin-top: 60px;

    background-color: black;
}

.ambassador-box {
    border-top: 0.2px solid white;
    border-left: 0.2px solid white;
    border-right: 0.2px solid white;
    border-bottom: 30px solid white;
    position: relative;
    width: 40%;
    margin-bottom: 30px;
    background-color: black;

}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.left-column {
    height: 350px;
}

.right-column {
    height: 200px;
    background-color: black;
}

.work-content {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  

.row-background {
    background-image: url("../assets/design/aura2.jpg");
    background-size: 400px;
    background-position: 60em;
    background-repeat: no-repeat;
}